<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="bnapi.js"></script>
    <script src="app-store.js"></script>
    <script src="app-router.js"></script>
    <script src="app-i18n.js"></script>
    <script src="app-mixin.js"></script>
    <style>[v-cloak] { display: none; }</style>
</head>

<body>

    <template id="app-page-not-found">
        <v-container grid-list-xl v-once>
            <v-layout wrap>
                <v-flex xs12 title>{{ $t('page-not-found') }}</v-flex>
                <v-flex xs12>{{ $t('page-not-found-text') }}</v-flex>
            </v-layout>
        </v-container>
    </template>

    <script>
        Vue.component('app-page-not-found', {
            template: '#app-page-not-found'
        });
    </script>

    <template id="app-home">
        <v-container grid-list-xl v-once>
            <v-layout wrap>
                <v-flex xs12 title>Welcome</v-flex>
                <v-flex xs12>
                    Hello and welcome to our small community! This page should say something smart and funny about us, too bad nothing comes
                    to my mind at this very moment.
                </v-flex>
                <v-flex xs12 title>Links</v-flex>
                <v-flex xs12 ml-3>
                    <ul>
                        <li>Discord <a href="/">channel</a></li>
                        <li>Recruting forum <a target="_blank" href="https://eu.battle.net/forums/en/wow/topic/17618053653">thread</a></li>
                        <li>Looking for players forum <a target="_blank" href="https://eu.battle.net/forums/en/wow/topic/17615632657">thread</a></li>
                    </ul>
                </v-flex>
            </v-layout>
        </v-container>
    </template>

    <script>
        Vue.component('app-home', {
            template: '#app-home'
        });
    </script>

    <template id="app-member-profile">
        <div>
            <v-progress-circular v-if="loading" indeterminate color="primary" class="ma-4"></v-progress-circular>
            <v-chip v-else v-for="(value, key) in stats" :key="key" disabled>
                {{ key }}&nbsp;<b>{{ value }}</b>
            </v-chip>
        </div>
    </template>

    <script>
        Vue.component('app-member-profile', {
            template: '#app-member-profile',
            data: function () { return {
                loading: false,
                stats: null
            }; },
            created: function () {
                this.loading = true;
                this.$store.dispatch('load-character-stats', this.$route.params).then((stats) => {
                    this.stats = stats;
                    this.loading = false;
                });
            }
        });
    </script>

    <template id="app-member-titles">
        <div>
            <v-progress-circular v-if="loading" indeterminate color="primary" class="ma-4"></v-progress-circular>
            <div v-else class="text-xs-center">
                <div v-if="displayTitles.length > 0">
                    <v-chip v-for="(item, index) in displayTitles" :key="index" :title="$t(item.hint)" :color="item.color" disabled>
                        <span v-html="item.text" class="body-1"></span>
                    </v-chip>
                </div>
                <div v-else class="my-4 grey--text">
                    {{ $t('list-is-empty') }}
                </div>
            </div>
        </div>
    </template>

    <script>
        Vue.component('app-member-titles', {
            template: '#app-member-titles',
            data: function () { return {
                loading: false,
                titles: null
            }; },
            computed: {
                displayTitles: function () {
                    var name = this.$route.params.name;
                    var result = Object.values(this.titles).map((item) => {
                        return {
                            text: (item.name || '').replace('%s', '<b>' + name + '</b>'),
                            hint: item.selected ? 'selected-character-title' : null,
                            color: item.selected ? '' : 'transparent'
                        };
                    });
                    return result.sort((a, b) => { return a.text.localeCompare(b.text); });
                }
            },
            created: function () {
                this.loading = true;
                this.$store.dispatch('load-character-titles', this.$route.params).then((titles) => {
                    this.titles = titles;
                    this.loading = false;
                });
            }
        });
    </script>

    <template id="app-member-reputation-progress">
        <div>
            {{ rep }}
        </div>
    </template>

    <script>
        Vue.component('app-member-reputation-progress', {
            template: '#app-member-reputation-progress',
            props: {
                rep: { type: Object, required: true }
            }
        });
    </script>

    <template id="app-member-reputation">
        <div>
            <v-progress-circular v-if="loading" indeterminate color="primary" class="ma-4"></v-progress-circular>
            <div v-else>
                <div v-for="(cat, i) in $store.state.game.factions">
                    <div v-if="displayReps(cat.members).length > 0">
                        <v-divider class="mt-4 mb-2" v-if="i > 0"></v-divider>
                        <v-subheader class="title" style="text-transform: uppercase;">{{ cat.title }}</v-subheader>
                        <div v-for="rep in displayReps(cat.members)">
                            <app-member-reputation-progress :rep="rep"></app-member-reputation-progress>
                        </div>
                        <div v-if="cat.groups" v-for="group in cat.groups">
                            <div v-if="displayReps(group.members).length > 0">
                                <v-subheader>{{ group.title }}</v-subheader>
                                <div v-for="rep in displayReps(group.members)">
                                    <app-member-reputation-progress :rep="rep"></app-member-reputation-progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script>
        Vue.component('app-member-reputation', {
            template: '#app-member-reputation',
            data: function () { return {
                loading: false,
                profile: null,
                reputation: null
            }; },
            created: function () {
                this.loading = true;
                Promise.all([
                    this.$store.dispatch('load-character-profile', this.$route.params),
                    this.$store.dispatch('load-character-reputation', this.$route.params)
                ]).then(([ profile, reputation ]) => {
                    this.profile = profile;
                    this.reputation = reputation;
                    this.loading = false;
                });
            },
            methods: {
                displayReps: function (members) {
                    var list = [].concat(members.any || [], members[ this.profile.faction ] || []);
                    return Object.values(this.reputation)
                        .filter(i => list.indexOf(i.id) >= 0)
                        .sort((a, b) => a.name.localeCompare(b.name));
                }
            }
        });
    </script>

    <template id="app-member">
        <div>
            <v-progress-circular v-if="loading" indeterminate color="primary" class="ma-4"></v-progress-circular>
            <v-container v-else grid-list-xl>
                <v-layout>
                    <v-spacer></v-spacer>
                    <v-flex style="flex: none;">
                        <v-avatar tile size="84" class="elevation-10">
                            <img :src="$app.avatar(profile)">
                        </v-avatar>
                    </v-flex>
                    <v-flex>
                        <div class="display-1 ml-1 mb-2">{{ profile.name }}</div>
                        <div class="hidden-xs-only text-xs-right" style="float:right; margin-top: -48px; max-width: 140px;">
                            <v-chip v-for="(item, index) in meta.filter(i => i.micon)" :key="index" :title="$app.text(item.hint)" disabled color="transparent" text-color="secondary">
                                <span class="headline">{{ item.text }}</span>
                                <v-icon right>{{ item.micon }}</v-icon>
                            </v-chip>
                        </div>
                        <div>
                            <v-chip v-for="(item, index) in meta.filter(i => $vuetify.breakpoint.xsOnly || !i.micon)" :key="index" :title="$app.text(item.hint)" disabled small>
                                <v-avatar v-if="item.icon"><img :src="$app.icon({ icon: item.icon })"></v-avatar>
                                <v-avatar v-if="item.micon"><v-icon>{{ item.micon }}</v-icon></v-avatar>
                                {{ item.text }}
                            </v-chip>
                        </div>
                    </v-flex>
                    <v-spacer></v-spacer>
                </v-layout>
                <v-layout>
                    <v-flex xs12>
                        <v-tabs fixed-tabs color="transparent">
                            <v-tab v-for="(item, index) in nav" :key="index" :to="item.to">{{ $t(item.name) }}</v-tab>
                        </v-tabs>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs12>
                        <v-fade-transition mode="out-in">
                            <router-view></router-view>
                        </v-fade-transition>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
    </template>

    <script>
        Vue.component('app-member', {
            template: '#app-member',
            data: function () { return {
                loading: false,
                nav: [
                    { to: { name: 'member-profile' }, name: 'profile' },
                    { to: { name: 'member-titles' }, name: 'titles' },
                    { to: { name: 'member-reputation' }, name: 'reputation' },
                    /*{ to: { name: 'member-professions' }, name: 'Professions' },
                    { to: { name: 'member-achievements' }, name: 'Achievements' },
                    { to: { name: 'member-statistics' }, name: 'Statistics' }*/
                ],
                profile: null,
                talents: null,
                items: null,
                meta: [],
            }; },
            computed: {
                activeSpec: function () {
                    return (this.talents.find(i => i.selected) || {}).spec;
                }
            },
            created: function () {
                this.loading = true;
                Promise.all([
                    this.$store.dispatch('load-character-profile', this.$route.params),
                    this.$store.dispatch('load-character-talents', this.$route.params),
                    this.$store.dispatch('load-character-items', this.$route.params)
                ]).then(([ profile, talents, items ]) => {
                    this.profile = profile;
                    this.talents = talents;
                    this.items = items;
                    this.initMeta();
                    this.loading = false;
                });
            },
            methods: {
                initMeta: function () {
                    this.meta.push({ text: this.profile.achievementPoints, hint: { _: 'achievement-points' }, micon: 'star' });
                    this.meta.push({ text: this.items.averageItemLevelEquipped, hint: { _: 'average-equipped-item-level' }, micon: 'turned_in' });

                    if (this.profile.level < 110) {
                        this.meta.push({ text: this.profile.level, hint: { _: 'character-level' }, icon: 'achievement_level_110' });
                    }

                    var race = this.$store.state.game.races[ this.profile.race ];
                    this.meta.push({ text: race.name, icon: race.icon[ this.profile.gender ] });

                    var cls = this.$store.state.game.classes[ this.profile.class ];
                    this.meta.push({ text: cls.name, icon: cls.icon });

                    if (this.activeSpec) {
                        this.meta.push({ text: this.activeSpec.name, hint: this.activeSpec.role, icon: this.activeSpec.icon });
                    }
                }
            }
        });
    </script>

    <template id="app-member-list">
        <div>
            <v-list v-if="members.length > 0" two-line>
                <v-list-tile v-for="(member, index) in members" avatar :key="index" @click="$emit('open', member)">
                    <v-list-tile-avatar tile>
                        <img :src="$app.avatar(member)">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ member.name }}</v-list-tile-title>
                        <v-list-tile-sub-title>
                            {{ member.level }}
                            {{ $store.state.game.races[ member.race ].name }}
                            <span v-if="member.spec">{{ member.spec.name }}</span>
                            {{ $store.state.game.classes[ member.class ].name }}
                        </v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <div v-else class="text-xs-center my-4 grey--text">
                {{ $t('list-is-empty') }}
            </div>
        </div>
    </template>

    <script>
        Vue.component('app-member-list', {
            template: '#app-member-list',
            props: {
                members: { type: Array, required: true }
            }
        });
    </script>

    <template id="app-members">
        <v-container grid-list-xl>
            <v-layout wrap>
                <v-flex xs12 sm6>
                    <v-select :loading="loading" :disabled="loading" v-model="filterValue" :items="filterItems" multiple :hint="filterHint" persistent-hint @change="filterOnChange" class="pt-0"></v-select>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field :disabled="loading" flat clearable append-icon="search" v-model="searchText" class="pt-0"></v-text-field>
                </v-flex>
                <v-flex v-if="members" xs12>
                    <app-member-list :members="displayMembers" @open="memberOpen"></app-member-list>
                </v-flex>
            </v-layout>
        </v-container>
    </template>

    <script>
        Vue.component('app-members', {
            template: '#app-members',
            data: function () { return {
                loading: false,
                members: null,
                searchText: '',
                filterValue: [ 'all' ],
                filterItems: [
                    { text: 'All members', value: 'all' },
                    { header: 'Levels' },
                    { text: 'Max level', value: 'level-max' },
                    { text: 'Low levels', value: 'level-low' },
                ]
            }; },
            vars: [ 'searchText', 'filterValue' ],
            computed: {
                displayMembers: function () {
                    return this.members.filter(this.filterMember).sort(function (a, b) {
                        var name1 = a.name + a.realm;
                        var name2 = b.name + b.realm;
                        return name1.localeCompare(name2);
                    });
                },
                filterHint: function () {
                    if (this.members) {
                        return this.$t('total-members-shown', { shown: this.displayMembers.length, total: this.members.length });
                    } else {
                        return this.$t('loading...');
                    }
                }
            },
            created: function () {
                this.loading = true;
                this.$store.dispatch('load-guild-members').then((members) => {
                    this.members = members;
                    this.loading = false;
                });

                var classes = Object.values(this.$store.state.game.classes).map((item) => {
                    return { text: item.name, value: 'class-' + item.id };
                });
                this.filterItems.push(
                    { header: 'Classes' },
                    ...classes.sort((a, b) => { return a.text.localeCompare(b.text); })
                );

                var races = [];
                Object.values(this.$store.state.game.races).forEach((item) => {
                    if (item.side === 'alliance') {
                        races.push({ text: item.name, value: 'race-' + item.id });
                    }
                });
                this.filterItems.push(
                    { header: 'Races' },
                    ...races.sort((a, b) => { return a.text.localeCompare(b.text); })
                );
            },
            methods: {
                memberOpen: function (member) {
                    this.$router.push({ name: 'member', params: { realm: member.realm, name: member.name } });
                },
                filterOnChange: function (value) {
                    if (value.length === 0) {
                        value.push('all');
                    } else if (value.length === 2 && value[ 0 ] === 'all') {
                        value.shift();
                    } else if (value.length > 1 && value[ value.length - 1 ] === 'all') {
                        while (value.length > 1) {
                            value.shift();
                        }
                    }

                    var levelMax = value.indexOf('level-max');
                    var levelLow = value.indexOf('level-low');
                    if (levelMax >= 0 && levelLow >= 0) {
                        value.splice(Math.min(levelMax, levelLow), 1);
                    }
                },
                filterMember: function (member) {
                    if (this.searchText) {
                        if (member.name.toLowerCase().indexOf(this.searchText) < 0) {
                            return false;
                        }
                    }

                    var okClass = undefined;
                    var okRace = undefined;

                    for (var i = 0; i < this.filterValue.length; ++i) {
                        var [ type, key ] = this.filterValue[ i ].split('-');
                        if (type === 'level') {
                            if (key === 'max' && member.level < 110) {
                                return false;
                            }
                            if (key === 'low' && member.level === 110) {
                                return false;
                            }
                        }
                        if (type === 'class') {
                            if (okClass === undefined) {
                                okClass = false;
                            }
                            if (key == member.class) {
                                okClass = true;
                            }
                        }
                        if (type === 'race') {
                            if (okRace === undefined) {
                                okRace = false;
                            }
                            if (key == member.race) {
                                okRace = true;
                            }
                        }
                    }

                    return okClass !== false && okRace !== false;
                }
            }
        });
    </script>

    <template id="app-system-libraries">
        <v-list two-line>
            <v-list-tile v-for="(lib, index) in libs" avatar :key="index">
                <v-list-tile-avatar tile>
                    <v-icon>settings</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title>{{ lib.name }}</v-list-tile-title>
                    <v-list-tile-sub-title>{{ $t('version') }}: {{ lib.version }}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </template>

    <script>
        Vue.component('app-system-libraries', {
            template: '#app-system-libraries',
            data: function () { return {
                libs: [
                    { name: 'Vue.js', version: Vue.version },
                    { name: 'Vuetify', version: Vuetify.version },
                    { name: 'Vuex', version: Vuex.version },
                    { name: 'vue-router', version: VueRouter.version },
                    { name: 'vue-i18n', version: VueI18n.version }
                ]
            }; }
        });
    </script>

    <template id="app-system-messages">
        <div>
            <div v-if="displayMessages.length > 0">
                <v-list two-line>
                    <v-list-tile v-for="(message, index) in displayMessages" avatar :key="index" @click="dialog.opened = true; dialog.message = message">
                        <v-list-tile-avatar tile>
                            <v-icon :color="message.type">{{ message.type }}</v-icon>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title v-if="message.text">{{ $app.text(message.text) }}</v-list-tile-title>
                            <v-list-tile-sub-title>
                                <span>{{ new Date(message.time).toLocaleTimeString() }}</span>
                                <span v-if="message.desc">&mdash; {{ $app.text(message.desc) }}</span>
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
                <div v-if="totalPages > 1" class="text-xs-center mt-2">
                    <v-pagination :length="totalPages" v-model="page.number"></v-pagination>
                </div>
            </div>
            <div v-else class="my-1 grey--text">
                {{ $t('list-is-empty') }}
            </div>
            <v-dialog v-if="dialog.message" v-model="dialog.opened" max-width="720px">
                <v-card>
                    <v-card-text class="pa-0">
                        <v-alert :type="dialog.message.type" :value="true" class="ma-0">
                            {{ $app.text(dialog.message.text) }}
                        </v-alert>
                    </v-card-text>
                    <v-divider></v-divider>
                    <div v-if="dialog.message.desc">
                        <v-card-text>
                            <span v-html="$app.text(dialog.message.desc)"></span>
                        </v-card-text>
                        <v-divider></v-divider>
                    </div>
                    <div v-if="dialog.message.more">
                        <v-card-text>
                            <pre style="overflow: auto;">{{ $app.text(dialog.message.more) }}</pre>
                        </v-card-text>
                        <v-divider></v-divider>
                    </div>
                    <v-card-actions>
                        <span class="ml-3 grey--text">
                            <v-icon small class="mr-1">access_time</v-icon>
                            {{ new Date(dialog.message.time).toLocaleString() }}
                        </span>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="dialog.opened = false">{{ $t('close') }}</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </template>

    <script>
        Vue.component('app-system-messages', {
            template: '#app-system-messages',
            data: function () { return {
                messages: this.$store.state.app.messages.sort((a, b) => b.time - a.time),
                page: { number: 1, size: 5 },
                dialog: { opened: false, message: null }
            }; },
            computed: {
                totalPages: function () {
                    return Math.ceil(this.messages.length / this.page.size);
                },
                displayMessages: function () {
                    var n = this.page.number;
                    var s = this.page.size;
                    return this.messages.slice((n - 1) * s, n * s);
                }
            },
            mounted: function () {
                window.setTimeout(() => this.$store.commit('mark-all-app-messages-seen'), 1000);
            }
        });
    </script>

    <template id="app-settings">
        <v-container grid-list-xl>
            <v-layout wrap>
                <v-flex xs12 title>{{ $t('settings') }}</v-flex>
                <v-flex xs12 sm6>
                    <p>{{ $t('language') }}</p>
                    <v-btn-toggle v-model="lang">
                        <v-btn flat value="en">English</v-btn>
                        <v-btn flat value="ua">Українська</v-btn>
                    </v-btn-toggle>
                </v-flex>
                <v-flex xs12 sm6>
                    <p>{{ $t('theme') }}</p>
                    <v-btn-toggle v-model="theme">
                        <v-btn flat value="light">{{ $t('theme-light') }}</v-btn>
                        <v-btn flat value="dark">{{ $t('theme-dark') }}</v-btn>
                    </v-btn-toggle>
                </v-flex>
                <v-flex xs12 sm6 mt-3>
                    <div class="my-2 title">
                        <v-badge :color="$store.getters[ 'unseen-app-messages-count' ] > 0 ? 'error' : 'grey lighten-1'">
                            <span slot="badge">{{ this.$store.state.app.messages.length }}</span>
                            <span class="pr-1">{{ $t('messages') }}</span>
                        </v-badge>
                    </div>
                    <app-system-messages></app-system-messages>
                </v-flex>
                <v-flex xs12 sm6 mt-3>
                    <div class="my-2 title">{{ $t('libraries') }}</div>
                    <app-system-libraries></app-system-libraries>
                </v-flex>
            </v-layout>
        </v-container>
    </template>

    <script>
        Vue.component('app-settings', {
            template: '#app-settings',
            data: function () { return {
                lang: this.$store.state.pref.lang,
                theme: this.$store.state.pref.theme
            }; },
            watch: {
                lang: function (value) {
                    if (value) {
                        this.$store.commit('set-pref-lang', value);
                        this.$i18n.locale = value;
                    } else {
                        this.lang = this.$store.state.pref.lang;
                    }
                },
                theme: function (value) {
                    if (value) {
                        this.$store.commit('set-pref-theme', value);
                    } else {
                        this.theme = this.$store.state.pref.theme;
                    }
                }
            }
        });
    </script>

    <template id="app-toast">
        <v-snackbar v-if="message" v-model="opened" :color="message.type" :timeout="8000" multi-line vertical>
            {{ $app.text(message.text) }}
            <v-btn flat @click.native="opened = false">{{ $t('close') }}</v-btn>
        </v-snackbar>
    </template>

    <script>
        Vue.component('app-toast', {
            template: '#app-toast',
            data: function () { return {
                opened: false,
                message: null
            }; },
            created: function () {
                this.$store.subscribe((mutation, state) => {
                    if (mutation.type === 'add-app-message' && !this.opened) {
                        this.message = this.$store.state.app.messages[ this.$store.state.app.messages.length - 1 ];
                        this.opened = true;
                    }
                });
            }
        });
    </script>

    <div id="app" v-cloak>
        <v-app v-if="error">
            <v-alert type="error" :value="true">
                <div class="title mb-4">Application failed to load essential data</div>
                <code class="pa-3">{{ error }}</code>
                <div class="text-xs-right mt-1">
                    <v-btn :loading="loading" :disabled="loading" @click.native="reload()">Try again</v-btn>
                </div>
            </v-alert>
        </v-app>
        <v-app v-else-if="loading">
            <v-progress-circular indeterminate color="primary" class="ma-4"></v-progress-circular>
        </v-app>
        <v-app v-else :light="$store.state.pref.theme === 'light'" :dark="$store.state.pref.theme === 'dark'">
            <v-toolbar app>
                <v-toolbar-side-icon></v-toolbar-side-icon>
                <v-toolbar-title>{{ $t('guild-title') }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn v-for="(item, index) in nav" :key="index" :to="item.to" flat>
                        <v-badge v-if="item.name === 'settings'" v-model="$store.getters[ 'unseen-app-messages-count' ] > 0" :left="$vuetify.breakpoint.smAndUp" overlap color="error">
                            <span slot="badge">{{ $store.getters[ 'unseen-app-messages-count' ] }}</span>
                            <v-icon :left="$vuetify.breakpoint.smAndUp">{{ item.icon }}</v-icon>
                            <span class="hidden-xs-only">{{ $t(item.name) }}</span>
                        </v-badge>
                        <div v-else>
                            <v-icon :left="$vuetify.breakpoint.smAndUp">{{ item.icon }}</v-icon>
                            <span class="hidden-xs-only">{{ $t(item.name) }}</span>
                        </div>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-content>
                <router-view></router-view>
            </v-content>
            <v-footer app height="auto">
                <span class="ma-3">{{ $t('guild-location') }}</span>
            </v-footer>
            <app-toast></app-toast>
        </v-app>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: function () { return {
                loading: true,
                error: null,
                nav: [
                    { to: { name: 'home' }, icon: 'home', name: 'home' },
                    { to: { name: 'members' }, icon: 'people', name: 'members' },
                    { to: { name: 'settings' }, icon: 'tune', name: 'settings' }
                ]
            }; },
            created: function () {
                this.$i18n.locale = this.$store.state.pref.lang;
                this.reload();
            },
            methods: {
                reload: function () {
                    this.loading = true;
                    this.error = null;
                    this.$store.dispatch('load-game-data').then(() => {
                        this.loading = false;
                    }).catch((error) => {
                        this.error = error.message;
                        this.loading = false;
                    });
                }
            },
            router: appRouter(),
            store: appStore(),
            i18n: appI18n()
        });
    </script>

</body>

</html>