<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="ajax.js"></script>
    <script src="bnapi.js"></script>
    <script src="app-store.js"></script>
    <script src="app-router.js"></script>
    <script src="app-i18n.js"></script>
    <style>[v-cloak] { display: none; };</style>
</head>

<body>

    <template id="app-page-not-found">
        <v-container v-once>
            <div class="title my-2">Page Not Found</div>
            <span>
                The page you are looking for could not be found.
            </span>
        </v-container>
    </template>

    <script>
        Vue.component('app-page-not-found', {
            template: '#app-page-not-found'
        });
    </script>

    <template id="app-home">
        <v-container v-once>
            <div class="title my-2">Welcome</div>
            <span>
                Hello and welcome to our small community! This page should say something smart and funny about us, too bad nothing comes
                to my mind at this very moment.
            </span>
            <div class="title mb-2 mt-4">Links</div>
            <ul class="ml-3">
                <li>Discord <a href="/">channel</a></li>
                <li>Recruting forum <a target="_blank" href="https://eu.battle.net/forums/en/wow/topic/17618053653">thread</a></li>
                <li>Looking for players forum <a target="_blank" href="https://eu.battle.net/forums/en/wow/topic/17615632657">thread</a></li>
            </ul>
        </v-container>
    </template>

    <script>
        Vue.component('app-home', {
            template: '#app-home'
        });
    </script>

    <template id="app-member-list">
        <div>
            <v-list v-if="members.length > 0" two-line>
                <div v-for="(member, index) in members">
                    <v-list-tile avatar :key="index" @click="">
                        <v-list-tile-avatar tile>
                            <img :src="member._thumbnail">
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>{{ member.name }}</v-list-tile-title>
                            <v-list-tile-sub-title>
                                Level {{ member.level }} {{ member._race }} <span v-if="member.spec">{{ member.spec.name }}</span> {{ member._class }}
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </div>
            </v-list>
            <v-alert v-else type="info" :value="true">
                No members found.
            </v-alert>
        </div>
    </template>

    <script>
        Vue.component('app-member-list', {
            template: '#app-member-list',
            props: [ 'members' ]
        });
    </script>

    <template id="app-roster">
        <v-container>
            <v-layout row wrap>
                <v-flex sm6 class="px-3">
                    <v-select :loading="loading" :disabled="loading" v-model="filterValue" :items="filterItems" multiple :hint="filterHint" persistent-hint @change="filterOnChange"></v-select>
                </v-flex>
                <v-flex sm6 class="px-3">
                    <v-text-field :disabled="loading" flat clearable append-icon="search" v-model="searchText"></v-text-field>
                </v-flex>
            </v-layout>
            <v-alert v-if="error" type="error" :value="true">
                <div class="title mb-4">Failed to load list of guild members</div>
                <code class="pa-3">{{ error }}</code>
                <div class="text-xs-right mt-1">
                    <v-btn :loading="loading" :disabled="loading" @click.native="reload()">Try again</v-btn>
                </div>
            </v-alert>
            <app-member-list v-else-if="members" v-bind:members="displayMembers"></app-member-list>
        </v-container>
    </template>

    <script>
        Vue.component('app-roster', {
            template: '#app-roster',
            data: () => ({
                loading: false,
                error: null,
                members: null,
                searchText: '',
                filterValue: [ 'all' ],
                filterItems: [
                    { text: 'All members', value: 'all' },
                    { header: 'Levels' },
                    { text: 'Max level', value: 'level-max' },
                    { text: 'Low levels', value: 'level-low' },
                ]
            }),
            created: function () {
                var classes = [];
                Object.keys(this.$store.state.game.classes).forEach((i) => {
                    classes.push({ text: this.$store.state.game.classes[ i ], value: 'class-' + i });
                });
                this.filterItems.push(
                    { header: 'Classes' },
                    ...classes.sort((a, b) => { return a.text.localeCompare(b.text); })
                );

                var races = [];
                Object.keys(this.$store.state.game.races).forEach((i) => {
                    races.push({ text: this.$store.state.game.races[ i ], value: 'race-' + i });
                });
                this.filterItems.push(
                    { header: 'Races' },
                    ...races.sort((a, b) => { return a.text.localeCompare(b.text); })
                );

                if (this.$store.state.guild.members) {
                    this.members = this.$store.state.guild.members;
                } else {
                    this.reload();
                }
            },
            computed: {
                displayMembers: function () {
                    return this.members.filter(this.filterMember).sort(function (a, b) {
                        var name1 = a.name + a.realm;
                        var name2 = b.name + b.realm;
                        return name1.localeCompare(name2);
                    });
                },
                filterHint: function () {
                    if (this.members) {
                        return this.$t('total-members-shown', { shown: this.displayMembers.length, total: this.members.length });
                    } else {
                        return this.$t('loading');
                    }
                }
            },
            methods: {
                reload: function () {
                    this.loading = true;
                    this.members = null;
                    this.error = null;
                    this.$store.dispatch('load-guild-members').then((members) => {
                        this.members = members;
                        this.loading = false;
                    }).catch((error) => {
                        console.error(error);
                        this.error = error.message;
                        this.loading = false;
                    });
                },
                filterOnChange: function (value) {
                    if (value.length === 0) {
                        value.push('all');
                    } else if (value.length === 2 && value[ 0 ] === 'all') {
                        value.shift();
                    } else if (value.length > 1 && value[ value.length - 1 ] === 'all') {
                        while (value.length > 1) {
                            value.shift();
                        }
                    }

                    var levelMax = value.indexOf('level-max');
                    var levelLow = value.indexOf('level-low');
                    if (levelMax >= 0 && levelLow >= 0) {
                        value.splice(Math.min(levelMax, levelLow), 1);
                    }
                },
                filterMember: function (member) {
                    if (this.searchText) {
                        if (member.name.toLowerCase().indexOf(this.searchText) < 0) {
                            return false;
                        }
                    }

                    var okClass = undefined;
                    var okRace = undefined;

                    for (var i = 0; i < this.filterValue.length; ++i) {
                        var [ type, key ] = this.filterValue[ i ].split('-');
                        if (type === 'level') {
                            if (key === 'max' && !member._levelmaxed) {
                                return false;
                            }
                            if (key === 'low' && member._levelmaxed) {
                                return false;
                            }
                        }
                        if (type === 'class') {
                            if (okClass === undefined) {
                                okClass = false;
                            }
                            if (key == member.class) {
                                okClass = true;
                            }
                        }
                        if (type === 'race') {
                            if (okRace === undefined) {
                                okRace = false;
                            }
                            if (key == member.race) {
                                okRace = true;
                            }
                        }
                    }

                    return okClass !== false && okRace !== false;
                }
            }
        });
    </script>

    <template id="app-settings">
        <v-container>
            <div class="title my-2">{{ $t('settings') }}</div>
            <v-layout row wrap>
                <v-flex xs12 sm6 class="py-2">
                    <p>{{ $t('language') }}</p>
                    <v-btn-toggle v-model="lang">
                        <v-btn flat value="en">English</v-btn>
                        <v-btn flat value="ua">Українська</v-btn>
                    </v-btn-toggle>
                </v-flex>
                <v-flex xs12 sm6 class="py-2">
                    <p>{{ $t('theme') }}</p>
                    <v-btn-toggle v-model="theme">
                        <v-btn flat value="light">{{ $t('theme-light') }}</v-btn>
                        <v-btn flat value="dark">{{ $t('theme-dark') }}</v-btn>
                    </v-btn-toggle>
                </v-flex>
            </v-layout>
        </v-container>
    </template>

    <script>
        Vue.component('app-settings', {
            template: '#app-settings',
            data: () => ({
                lang: null,
                langPrev: null,
                theme: null,
                themePrev: null
            }),
            created: function () {
                this.lang = this.$store.state.prefs.lang;
                this.theme = this.$store.state.prefs.theme;
            },
            watch: {
                lang: function (value) {
                    if (!value) {
                        this.lang = this.langPrev;
                        return;
                    }
                    this.langPrev = value;
                    this.$store.commit('set-prefs-lang', value);
                    this.$i18n.locale = value;
                },
                theme: function (value) {
                    if (!value) {
                        this.theme = this.themePrev;
                        return;
                    }
                    this.themePrev = value;
                    this.$store.commit('set-prefs-theme', value);
                }
            }
        });
    </script>

    <div id="app" v-cloak>
        <v-app v-if="error">
            <v-alert v-if="error" type="error" :value="true">
                <div class="title mb-4">Application failed to load essential game data</div>
                <code class="pa-3">{{ error }}</code>
                <div class="text-xs-right mt-1">
                    <v-btn :loading="loading" :disabled="loading" @click.native="reload()">Try again</v-btn>
                </div>
            </v-alert>
        </v-app>
        <v-app v-else-if="loading">
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
        </v-app>
        <v-app v-else :light="$store.state.prefs.theme === 'light'" :dark="$store.state.prefs.theme === 'dark'">
            <v-toolbar app>
                <v-toolbar-side-icon></v-toolbar-side-icon>
                <v-toolbar-title>{{ $t('guild-title') }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-sm-and-down">
                    <v-btn @click="$router.push('/home')" flat><v-icon left>home</v-icon>{{ $t('home') }}</v-btn>
                    <v-btn @click="$router.push('/roster')" flat><v-icon left>people</v-icon>{{ $t('roster') }}</v-btn>
                    <v-btn @click="$router.push('/settings')" flat><v-icon left>settings</v-icon>{{ $t('settings') }}</v-btn>
                </v-toolbar-items>
                <v-toolbar-items class="hidden-md-and-up">
                    <v-btn @click="$router.push('/home')" flat fab><v-icon>home</v-icon></v-btn>
                    <v-btn @click="$router.push('/roster')" flat fab><v-icon>people</v-icon></v-btn>
                    <v-btn @click="$router.push('/settings')" flat fab><v-icon>settings</v-icon></v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-content>
                <router-view></router-view>
            </v-content>
            <v-footer app height="auto">
                <span class="ma-3">{{ $t('guild-location') }}</span>
            </v-footer>
        </v-app>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: () => ({
                loading: true,
                error: false
            }),
            created: function () {
                this.$i18n.locale = this.$store.state.prefs.lang;
                this.reload();
            },
            methods: {
                reload: function () {
                    this.loading = true;
                    this.$store.dispatch('load-game-data').then(() => {
                        this.loading = false;
                    }).catch((error) => {
                        this.error = error.message;
                        this.loading = false;
                    });
                }
            },
            router: appRouter(),
            store: appStore(),
            i18n: appI18n()
        });
    </script>

</body>

</html>